* {
    font-family: Helvetica, sans-serif;
}

input {
    border: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    cursor: pointer;
    outline: none;
}

input[type='text'],
input[type='number'] {
    cursor: text;
}

.header {
    display: flex;
    align-items: center;
    padding-left: 120px;
    height: 100px;
    background-color: #2185D5;
}

.header h1 {
    color: #e0eaf2;
    font-size: 36px;
    font-weight: bold;
}

.btn {
    padding: 32px;
    display: flex;
    justify-content: center;
}

.btn button {
    padding: 8px 16px 8px 16px;
    border: none;
    border-radius: 10px;
    font-size: 26px;
    font-weight: bold;
    cursor: pointer;
}

.btn button:hover {
    background-image: linear-gradient(115deg, #8bbfe4, #c1d2df);
}

.container {
    width: 90vw;
    margin: auto;
    display: flex;
    gap: 6vh;
    flex-wrap: wrap;
    margin-bottom: 64px;
}

.card {
    min-width:200px;
    width: 20vw;
    height: 340px;
    background-image: linear-gradient(145deg, #2185D5, #85bfee);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card h3 {
    font-size: 28px;
    color: #e1e8ee;
    font-weight: 300;
    padding: 5px;
    margin-bottom: 26px;
}

.card button {
    color: #e1e8ee;
    font-weight: bold;
    font-size: 28px;
    border: solid;
    cursor: pointer;
    width: 80%;
    border-radius: 8px;
    background-clip: text;
    background: -webkit-linear-gradient(#f03939, #421515);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
}

/**************************/

.modal h3 {
    color: #e1e8ee;
    font-size: 24px;
}

.modal {
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 300px;
    text-align: center;
    transform: translate(-50%, -50%) scale(0);
    transition: 0.2s ease-in-out;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.add-book-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(145deg, #254799, #2889d9);
    padding: 25px;
    border-radius: 20px;
}

.add-book-form button {
    width: 100%;
}

.error-msg {
    display: none;
    color: red;
}

.error-msg.active {
    display: block;
    margin-top: -15px;
}

.input {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    padding: 12px;
    margin-top: 8px;
}

.is-read {
    display: flex;
    padding: 12px;
    align-items: center;
    color: #e1e8ee;
    font-size: 18px;
}

.checkbox {
    width: 20px;
    height: 20px;
    margin-top: 4px;
    accent-color: white;
}

.btn-light-blue,
.btn-light-red {
    padding: 18px;
    color: #e1e8ee;
    border-radius: 20px;
    font-size: 22px;
    border: none;
}

.btn-light-blue {
    background-color: #0d385b;
}

.btn-light-red {
    margin-top: 1rem;
    background-color: #8d1111;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.overlay.active {
    display: block;
}

  /* LOADING RING */

.lds-dual-ring {
    display: none;
    width: 38px;
    height: 38px;
}

.lds-dual-ring:after {
    content: ' ';
    display: block;
    width: 30px;
    height: 30px;
    margin: 8px;
    border-radius: 50%;
    border: 3px solid var(--black);
    border-color: var(--black) transparent var(--black) transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

.lds-dual-ring.active {
    display: block;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
